@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');
.content,
.date {
    margin: 0;
    background: rgba(140, 185, 226, 0.21);
}

#sidebarMenu {
    background: #fff!important;
}

.side-bar {
    background: #fff;
}

.name {
    color: #0A587A;
}

.hello {
    background: url("/assets/co-ordinator/top-bg.png");
    padding: 2%;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.hello-hr {
    background: url("/assets/co-ordinator/hr-bg.png");
    padding: 2%;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-size: contain;
}

.side-bar {
    padding-top: 3%;
}

.side-bar h1 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #0A587A;
    margin-top: 5%;
}

.side-bar h4 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #263238;
}

.side-bar p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    color: rgba(0, 0, 0, 0.46);
    margin-bottom: 0;
}

.side-nav {
    padding-top: 35%;
}

.side-nav p {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #757070;
    padding: 20% 0;
}

.side-nav .active {
    color: #109FDD;
}

.log-out {
    position: absolute;
    left: 25%;
    bottom: 2%;
    padding-top: 20%;
}

p.log-out {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #0A587A;
}

.content {
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.content h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0A587A;
    padding: 5% 0;
}

.hello h1,
.hello-hr h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 43px;
    color: #062A39;
    padding: 0;
}

.hello p,
.hello-hr p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #062A39;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    color: #0A587A;
    padding-top: 3%;
}

.top-label th {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #263238;
    text-align: center;
}

.table td,
.table thead th,
.table th {
    border-bottom: none;
    border-top: none
}

tbody tr {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #263238;
    width: 879px;
    height: 62px;
}

.table td,
.table th {
    vertical-align: middle;
}

.table {
    border-collapse: separate;
    border-spacing: 0 20px;
}

tr>th {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

tr>td:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

input[type="search"] {
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.search {
    position: absolute;
    right: 5%;
}

.date {
    padding-top: 3%;
}

.date p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #0A587A;
}

.some-class {
    padding-top: 18%;
}

.dycalendar-month-container {
    width: 210px;
    height: 230px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.dycalendar-container.shadow-default {
    box-shadow: none!important;
}

.dycalendar-month-container .dycalendar-span-month-year {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #0A587A;
}

.dycalendar-body table {
    border-collapse: separate;
    margin: 0;
}

.dycalendar-body table tbody tr {
    height: 15px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #0A587A;
    background: none;
    box-shadow: none;
}

.dycalendar-body table tr>td:last-child {
    border-radius: 0;
}

.dycalendar-month-container .dycalendar-target-date,
.dycalendar-month-container .dycalendar-today-date {
    background-color: #CEEDFF!important;
    border-radius: 50%!important;
    color: #0A587A!important;
}

.dycalendar-month-container .dycalendar-header .dycalendar-prev-next-btn.next-btn {
    right: 20px;
}

.strength {
    width: 227px;
    height: 121px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-top: 7%;
    margin-top: 35%;
}

.join-us {
    width: 227px;
    height: 130px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding-top: 7%;
    margin-top: 15%;
}

.strength h1,
.join-us h1 {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #0A587A;
}

.strength p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #263238;
}

.mute {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #757070;
}

.pending {
    color: #FFBD00;
}

.completed {
    color: #2DA771;
}

.missing {
    color: #DE5753;
}

.dropleft .dropdown-toggle::before {
    border-top: none;
    border-right: none;
    border-bottom: none;
}

.down,
.down:focus {
    border: none;
    outline: none;
    background: url("/assets/co-ordinator/drop.png");
}

.dropdown-menu {
    width: 227px;
    height: 100px;
    background: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.08);
    box-sizing: border-box;
    backdrop-filter: blur(4px);
    border-radius: 10px;
    top: -40px!important;
}

.dropdown-menu a {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.1em;
    color: #0A587A;
}